* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button {
    font: inherit;
}

body {
    min-height: 100vh;
    padding: 1em;
    text-align: center;
    background-color: steelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-slider {
    width: 400px;
}

.slide {
    transition: .3s ease-in; 
}

.picker {
    background-color: brown;
    border-radius: 50%;
    width: 20px;
    margin-block: 2em;
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
}

.hidden {
    display: none;
}

.display {
    display: block;
}